/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require formtastic
 *= require pickadate/default
 *= require pickadate/default.date
 *= require pickadate/default.time
 *= require_tree .
 *= require_self
 */

body,dl,dt,dd,ul,ol,li,header,h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0;
}

body > header {
  color: #fff;
  background-color: #262626;
  padding: 1rem;
}

ul.nav li {
  display: inline-block;
}
ul.nav li a {
  padding: 1rem;
  color: inherit;
  text-decoration: none;
}


main {
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
}

article > header {
  background:dodgerblue;
  padding:1rem;
}
article > header h1 {
  text-transform:uppercase;
  font-size:2.5rem;
  color:#fff;
  padding: 3rem 0;
}


.flash {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  border-radius: 4px;
}

.flash.notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash.alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

