<section>
  <header>
    <h1>Editing <%= resource_class.model_name.human %></h1>
    <%= link_to 'Show', resource %> |
    <%= link_to 'Back', collection_path %>
  </header>

  <%= render 'form' %>
</section>

